<h1>You just created <%= @list.name %> list!</h1>

<% if @list.movies.any? %>
  <ul>
    <% @list.movies.each do |movie| %>
      <li>Movie in this list: <%= movie.title %></li> <!-- Replace `title` with the appropriate movie attribute -->
    <% end %>
  </ul>
<% else %>
  <p>No movies found in this list.</p>
<% end %>

<%= link_to 'Back to All Categories', lists_path %>
